{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Nooz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- Dropdown code for categories -->
        {% if category_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <!-- generates list of categories -->
            {% for item in category_menu %}
            <li><a class="dropdown-item" href="{% url 'category' item|slugify|title %}">{{ item }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_post' %}">Add Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
        </li>
        
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
      </ul>
    </div>
{% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">  
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.profile.profile_pic %}
            <img src="{{ user.profile.profile_pic.url }}" class="rounded-circle border"
            height="25" alt="Avatar" loading="lazy" />
          {% else %}
            <img src="{% static '/images/generic_pic.png' %}" class="rounded-circle border"
            height="25" alt="Avatar" loading="lazy" />
          {% endif %}
            {{ user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <a class="nav-link dropdown-item" href="{% url 'edit_profile' %}">Settings</a>
            {% if user.profile.id %}
              <a class="nav-link dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">View Profile Page</a>
              <a class="nav-link dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a>
            {% else %}
            <a class="nav-link dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a>
            {% endif %}
            <a class="nav-link dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
{% endif %}
  </div>
</nav>