{% extends 'base.html' %}
{% block title %}{{ post.title_tag}}{% endblock %}


{% block content %}

<h1>{{ post.title }}</h1>
<small>By: 
    {{ post.author.first_name }} 
    {{ post.author.last_name }} -
    {{ post.timestamp }} 

{% if user.is_authenticated %}
    - <a href="{% url 'edit_post' post.pk %}">(edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(delete)</a><br/>
    </small><br/>
{% endif %}
<hr>
<br/>
{{ post.body }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}